#root {
  width: 100vw;
  height: 100vh;

  margin: 0px;
  padding: 0px;
  text-align: center;
  
  overflow: hidden;
}

.App {
  --bg-1: #212529;
  --bg-2: #495057;
  --bg-3: #f8f9fa;

  --speed: 3s;

  --forground: #151515;

  animation: background-pan var(--speed) linear infinite;
  background: linear-gradient(
    90deg, 
    var(--bg-1) 0%, 
    var(--bg-2) 50%, 
    var(--bg-3) 92%,
    var(--bg-1) 100%
    );
  background-size: 200%;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;;
  }
}

#grid {
  height: calc(100vh - 1px);
  width: calc(100vw - 1px);
  position: relative;
  z-index: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-columns: repeat(var(--rows), 1fr);
}

#runButton {
  width: 200px;
  height: 60px;

  z-index: 3;
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 30px);
}

#runArrow {
  margin: -6px;
}

#runPolygon {
  fill: inherit;
}

.row {
  height: var(--tile-height);
  margin: 3px;
}

.tile {
  position: relative;
}

.tile:before {
  background-color: var(--forground);
  content: "";
  inset: 2px;
  position: absolute;
}